.header {
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: darkgrey;
    height: 4vw;
}

.flex-container {
    background-color: aliceblue;
    justify-content: left;
    align-items: normal;
    margin: auto;
    height: auto;
    flex-direction: column;

}

.img {
    margin-right: 10px;
}

.flex-item {
    display: flex;
    width: 100%;
    margin: 4px;
    padding: 2px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    box-sizing: border-box;
    flex-direction: row;
    border: 1px solid;
}

.recept-text {
    flex: 2;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.4;
    text-decoration: none;
    color: black;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: darkgrey;
}

@media (max-width: 600px) {
    .recept-text {
        font-size: 1rem;
        padding: 5px;
        text-wrap: wrap;
    }

    .img {
        width: 40%;
        height: auto;
    }
}
