.flex-container {
    background-color: aliceblue;
}

.flex-item {
    display: flex;
    width: 100%;
    padding: 4px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    flex-direction: row;
    border: 1px solid;
}

.recept-name {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.4;
    color: black;
}

.ingredients {
    font-weight: bold;
    line-height: 1rem;
}

.rating {
    font-weight: bold;
    line-height: 1rem;
}

.container-fluid > span {
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    font-size: 2rem;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.img {
    margin-right: 10px;
}

@media (max-width: 1024px) { /* Tablet */
    .recept-name {
        font-size: 1.5rem;
        text-wrap: wrap;
    }

    .img {
        width: 60%;
        height: auto;
    }

    .container-fluid > span {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) { /* Mobil */
    .recept-name {
        font-size: 1rem;
        text-wrap: wrap;
    }

    .img {
        width: 40%;
        height: auto;
    }

    .container-fluid > span {
        font-size: 1rem;
    }
}

